<h1>Propriétaire</h1>
<login-buttons></login-buttons>
<property-form></property-form>
<!-- <div *ngIf="properties.length > 0"> -->
  <table class="table table-striped table-hover">
    <caption>Properties</caption>
    <thead>
    <tr>
      <th class="col-md-2">Actions</th>
      <th>Property Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#property of properties">
      <td><a href="#" (click)="removeProperty(property)"><i class="material-icons" style="color:red;">delete</i></a>&nbsp;<a [routerLink]="['/PropertyDetails', {propertyId: property._id}]"><i class="material-icons" style="color:blue;">info</i></a></td>
      <td>{{property.name}}</td>
    </tr>
    </tbody>
  </table>
<!-- </div> -->
