{{!< main}}

<div class="container-fluid">
    <div class="row">
        <h2>Propriétaire</h2>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Register</a></li>
        </ul>
    </div>
</div>