{{!< main}}

<div class="container-fluid">
    <div class="row">
        <h2>Propriétaire</h2>
        Welcome {{ user.firstName }} {{ user.lastName }}
        <p><a href="/logout">Logout</a></p>
    </div>
</div>